/* .text-tain-home {
} */

/* 自定义字体 */
/* @font-face {
  font-family: "customFont";
  src: url("../../../public/Inter-Thin.ttf") format("truetype");
}

:root {
  --vp-font-family-base: "customFont";
} */
